<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Details</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Game Details</h1>
    <div id="game-details"></div>
    <form id="add-team-form" method="post">
      <h3>Add Team</h3>
      <label for="teamName">Team Name:</label>
      <input type="text" id="teamName" name="teamName" required>
      <br>
      <label for="players">Players (comma separated):</label>
      <input type="text" id="players" name="players" required>
      <br>
      <button type="submit">Add Team</button>
    </form>
    <button id="create-bracket-button">Create Bracket</button>
    <a href="/manage.html">Back to Manage Games</a>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const urlParams = new URLSearchParams(window.location.search);
      const gameId = urlParams.get('id');
      fetch(`/api/games/${gameId}`)
        .then(response => response.json())
        .then(game => {
          const gameDetails = document.getElementById('game-details');
          let html = `
            <h2>${game.name}</h2>
            <p>Max Participants: ${game.maxParticipants}</p>
            <p>Rules: ${game.rules || '없음'}</p>
            <p>Status: ${game.status}</p>
            <h2>Teams</h2>
            <ul>
              ${game.teams.map(team => `
                <li>
                  ${team.name} - Players: ${team.players.join(', ')}
                  <form action="/games/${game._id}/update-team" method="post">
                    <input type="hidden" name="teamId" value="${team._id}">
                    <input type="text" name="players" value="${team.players.join(', ')}">
                    <button type="submit">Update Players</button>
                  </form>
                </li>`).join('')}
            </ul>
          `;
          gameDetails.innerHTML = html;
        })
        .catch(err => console.error('Error fetching game details:', err));

      const addTeamForm = document.getElementById('add-team-form');
      addTeamForm.action = `/games/${gameId}/add-team`;

      const createBracketButton = document.getElementById('create-bracket-button');
      createBracketButton.addEventListener('click', () => {
        fetch(`/games/${gameId}/create-bracket`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(response => {
            if (response.ok) {
              window.location.href = '/manage.html';
            } else {
              console.error('Error creating bracket');
            }
          })
          .catch(err => console.error('Error creating bracket:', err));
      });
    });
  </script>
</body>
</html>
